nav {
  margin: 50px 0;
}

ul {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.active {
  transition-duration: 0.3s;
  background-color: rgba(0,0,0,0) !important;
  transform: scale(1.3);
  transition: transform .3s;
  color: white !important;
}
