.container {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  line-height: 0;
  margin: 0;
  text-shadow: #ff0000 10px 0 10px;
}
